:root {
    --main-color:#eb8a44;
    --second-color:#f9dc24;
    --light-color:#ffffff;
    --dark-color:#000;
}
* {
    padding: 0;
    margin: 0;
}
.container {
    max-width: 900px;
    padding: 0 20px;
    margin: 0 auto;
}
.header {
}
.container {
}
.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__introduce {
    width: 60%;
    padding: 30px;
    border-top: 5px solid #000;
    border-bottom: 5px solid #000;
}
.header__title {
}
.header__subtitle {
}
.header__photo {
    width: 300px;
    
}
.header__photo img{
    width: 100%;
    border-radius: 100%;
}
.contacts__wrapper {
    display: flex;
    align-items: center;
    max-width: 600px;
    justify-content: space-around;
}
.contacts-item {
    width: 30px;
    vertical-align: center;
}
.section {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 5px solid #000;
    padding: 30px;
}